node_modules/
.env
.env.example

uploads/products/*
uploads/blogs/*

!uploads/products/.gitkeep
!uploads/blogs/.gitkeep

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db